[Unit]
Description=EpicChain All-in-One Deployment Guide
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/opt/epicchain

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and keep volumes
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
